<header class="bg-gradient-to-r from-blue-500 to-blue-700 text-white p-6 shadow-lg">
    <div class="text-center">
        <h1 class="text-3x1 font-bold">Titulo</h1>
        <p class="text-lg mt-2">Subtitulo</p>
    </div>

    <div class="mt-4">
        <hr class="border-t border-blue=400 opacity-50"/> 
    </div>

    <nav class="mt-4">
        <ul class="flex justify-center space-x-6 text-white font-semibold">
            <li>
                <a class="hover:text-yellow-500">Galerias</a>
            </li>
            <li>
                <a class="hover:text-yellow-500">Categorias</a>
            </li>
            <li>
                <a class="hover:text-yellow-500">Lugares</a>
            </li>
            <li>
                <a class="hover:text-yellow-500">Sair</a>
            </li>
        </ul>
    </nav>

    <router-outlet></router-outlet>

</header>
<footer class="bg-gray-300 text-center p-4 mt6">
    <p class="tetxgray-700 text-sm"> 2025-Lugares Legais para Serem Visitados. Todos os direitos reservados</p>
</footer>
